name: CI MLflow Heart Disease Model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-build-push:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4


    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"


    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas joblib


    - name: Train model with MLflow
      run: python modelling.py


    - name: Upload trained model
      uses: actions/upload-artifact@v4
      with:
        name: heart-disease-model
        path: model


    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}


    - name: Build Docker Image (MLflow)
      run: |
        mlflow models build-docker \
          -m model \
          -n ${{ secrets.DOCKER_HUB_USERNAME }}/heart-disease-model

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/heart-disease-model
